<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="simple-searchy-styles.html">
<!-- 
    ### Status
[![Build Status](https://travis-ci.org/bstavroulakis/simple-search.svg?branch=master)](https://travis-ci.org/reemardelarosa/simple-search)

### General Info `<simple-searchy>`

`<simple-searchy>` shows a searchy input area on your page.

To use, insert `<simple-searchy>` in the body:
```html
    <body>
      <simple-searchy></simple-searchy>
```
Example:

To show the searchy 
```html
    <body>
      <simple-searchy static-open></simple-searchy>
``` 

### Documentation Page

http://reemardelarosa.github.io/simple-searchy/components/simple-searchy/

### Demo Page

http://reemardelarosa.github.io/simple-searchy/components/simple-searchy/demo/

### Styling
The following custom properties and mixins are available for styling:
Custom property | Description | Default

----------------------------|--------------------------------------------|----------

`--searchy-primary-color` | The color of the buttons | `#303F9F`
 -->
<dom-module id="simple-searchy">
    <template>
        <style include="simple-searchy-styles"></style>
        <iron-a11y-keys target="{{searchyInput}}" keys="enter" on-keys-pressed="searchyAction"></iron-a11y-keys>
        <div class$="{{_toggleClass}}">
            <div class="flex-horizontal">
                <div>
                    <template is="dom-if" if="{{!staticOpen}}">
                        <div class="trigger-open">
                            <paper-icon-button on-tap="toggle" icon="icons:search"></paper-icon-button>
                        </div>
                        <div class="trigger-close">
                            <paper-icon-button on-tap="toggle" icon="close"></paper-icon-button>
                        </div>
                    </template>
                </div>
                <div class="input-area flex-child">
                    <paper-input id="searchyInput" mo-label-float placeholder="Search"></paper-input>
                </div>
                <div class="trigger-searchy">
                    <paper-icon-button on-tap="searchyAction" icon="icons:search"></paper-icon-button>
                </div>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'simple-searchy',
        properties: {
            /** If the searchy area is visible or not */
            isOpen: {
                type: Boolean,
                value: false,
                observer: "_isOpenChanged"
            },
            /** If this is true the searchy area will always show. Can be set with the static-open attribute*/
            staticOpen: {
                type: Boolean,
                value: false
            },
            /** The class once the state isOpen is set to true */
            _toggleClass: {
                type: String,
                value: ""
            }
        },
        /**
         * @desc Toggle class `opened`
         *
         * @return {Void}
         */
        _isOpenChanged: function() {
            this._toggleClass = "";
            if (this.isOpen) {
                this._toggleClass = "opened";
            }
        },
        /**
         * @desc Toggle the searchy area
         *
         * @return {Void}
         */
        toggle: function() {
            this.set('isOpen', !this.isOpen);
            if (this.isOpen) {
                this.$$("#searchyInput").value = "";
                this.$$("#searchyInput").focus();
            }
        },
        /**
         * @desc Fire the searchy event
         *
         * @return {Void}
         */
        searchyAction: function() {
            this.fire("searchy", this.$$("#searchyInput").value);
        },
        ready: function() {
            this.isOpen = this.staticOpen;
        }
    });
</script>